# Go
*.exe
*.exe~
*.test
*.out
*.o
*.a
*.so
*~
# Compiled Object files
*.S
*.rdb

# Log files
*.log

# Dependency directories
vendor/
Godeps/

# IDE and editor files
.vscode/
.idea/
.fleet/

#  binary files
webhook

# sendhooks api
node_modules/
dist/
*.rdb

# sendhooks settings
config.json

#sendhooks-engine-api
api/.env

.DS_Store

sendhooks
sendhooks/config.json